.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.p-rating-icon.pi.pi-star-fill{
  color: #ffc107!important;
}

.badge-stock{
  border-radius: 2px;
    padding: 0.25em 0.5rem;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: .3px;
}
.badge-instock{
  background: #c8e6c9;
  color: #256029;
}
.badge-out-of-stock{
  background: #ffcdd2;
  color: #c63737;
}
.badge-low-stock{
  background: #feedaf;
  color: #8a5340;
}
.p-card{
  color: #495057 !important;
}
.fw-600{
  font-weight: 600;
}